#profile-rating::after,
#profile-rating::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #CACCCF;
}

#profile-rating::after {
    right: 0;
}

#profile-rating::before{
    left: 0;
}

.tab-menu-item {
    line-height: 20px;
    cursor: pointer;
}

.tab-menu-active {
    background: transparent;
    color: #119Ae2;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 35px 0 0 #119Ae2;
}

.ubuy-pro {
    position: relative;
    z-index: 1;
    height: 328px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.ubuy-pro::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: -1;
    background-color: rgba(0, 0, 0, .75);
}

details summary::-webkit-details-marker {
    display: none;
  }
  
  details summary {
    width: 100%;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-weight: 500;
    list-style: none;
  }
  
  details summary::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    color: #52575C;
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
  }

  details.marker-right summary::before {
    right: 16px;
    left: unset;
  }

  details[open] summary::before {
      top: -6px;
      transform: rotate(180deg);
  }
  
  details summary {
    outline: 0;
  }
  details div {
      padding-top: 20px;
      padding-left: 30px;
  }

  details.marker-right div {
      padding-right: 30px;
      padding-bottom: 20px;
  }


